.active{
    border-bottom: 3px solid rgb(54, 221, 4);
    font-weight: bold;
    color: rgb(54, 221, 4);
}
.items{
    background-color: transparent;
}
.button{
    background: "hsl(223 21% 16% )";
    color: rgb(54, 221, 4);
}
.text-green{
    color: rgb(54, 221, 4);
}
.bg-new{
    background: "hsl(223 21% 16% )";
}